@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", serif !important;
    font-style: normal;
}

:root {
    --sim-dark-brown: #563727;
    --sim-light-brown: #B38C5C;
    --sim-dark-grey: #D9D9D9;
    --sim-light-grey: #B4B4B4;
    --white: white;
    --black: black;
}

/* Color CSS */

.sim-dark-brown-color {
    color: var(--sim-dark-brown);
}

.sim-light-brown-color {
    color: var(--sim-light-brown);
}

.sim-dark-grey-color {
    color: var(--sim-dark-grey);
}

.sim-light-grey-color {
    color: var(--sim-light-grey);
}

.white-color {
    color: var(--white);
}

.black-color {
    color: var(--black);
}

/* Width Related CSS */

.max-width-1320px {
    max-width: 1320px;
}

/* Border-Radius Related CSS */

.border-radius-5px {
    border-radius: 5px;
}

.border-radius-30px {
    border-radius: 30px;
}

/* Font-size Related CSS */

.font-size-46px {
    font-size: 46px;
}

.font-size-36px {
    font-size: 36px;
}

.font-size-28px {
    font-size: 28px;
}

.font-size-22px {
    font-size: 22px;
}

/* Font-weight Related CSS */

.font-weight-600 {
    font-weight: 600;
}

.font-weight-400 {
    font-weight: 400;
}

/* Bttton Related CSS */

.button-color-white-bg-color-sim-brown {
    background-color: var(--sim-light-brown);
    color: var(--white);
    border: 2px solid var(--sim-light-brown);
}

.button-color-sim-brown-bg-color-white {
    background-color: var(--white);
    color: var(--sim-light-brown);
    border: 2px solid var(--sim-light-brown);
}


/* Sec 1 in Enrich */

.sec-1 {
    height: 50px;
    background-color: var(--sim-dark-brown);
    padding: 0 14.5px;
}

.sec-1-email-id {
    border-left: 2px solid var(--white);
}

@media screen and (max-width: 470px) {
    .body .sec-1 {
        display: block !important;
        width: 100% !important;
        height: auto !important;
        text-align: center !important;
        padding: 10px 0;
    }

    .sec-1 .sec-1-phone-num-email-sec {
        justify-content: center !important;
        padding-top: 10px;
    }
}

@media screen and (max-width: 340px) {
    .sec-1 .sec-1-phone-num-email-sec {
        display: block !important;
        width: 100% !important;
        text-align: center;
    }

    .sec-1-phone-num-email-sec .sec-1-phone-num {
        padding-right: 0px !important;
    }

    .sec-1-phone-num-email-sec .sec-1-email-id {
        padding-left: 0px !important;
        border-left: none;
    }
}

/* Header Section in Enrich */

.header {
    height: auto !important;
    background-color: var(--white);
    padding: 10px 14.5px;
    box-shadow: 0px 2px 4px var(--sim-dark-grey);
}

.header-menu ul {
    list-style-type: none;
}

@media screen and (max-width: 770px) {
    .body .header {
        display: block !important;
        width: 100% !important;
        text-align: center !important;
    }

    .header-menu ul {
        justify-content: center !important;
        margin: 10px 0 !important;
    }
}

@media screen and (max-width: 400px) {
    .body .header {
        padding: 10px 0 !important;
    }

    .header-main-logo div img {
        width: 98% !important;
    }

    .header-menu ul {
        display: block !important;
        width: 100%;
    }

    .header-menu ul li {
        margin-right: 0 !important;
    }
}

/* Section 3 in Enrich */

.sec-3 {
    height: auto;
    padding: 100px 0;
}

@media screen and (max-width: 960px) {
    .body .sec-3 {
        display: block !important;
        width: 100% !important;
        text-align: center !important;
    }

    .sec-3 .sec-3-left-sec {
        width: 100% !important;
        padding: 0 14.5px !important;
    }

    .sec-3 .sec-3-right-sec {
        width: 100% !important;
        margin-top: 10px !important;
    }
}

@media screen and (max-width: 400px) {
    .body .sec-3 {
        padding: 50px 0 !important;
    }

    .sec-3 .sec-3-left-sec {
        padding: 0 !important;
    }

    .sec-3-left-sec .sec-3-left-sec-heading {
        font-size: 30px !important;
    }
}

/* Section 4 in Enrich */

.sec-4 {
    height: auto;
    padding: 100px 0;
    background-color: #F9F9F9;
}

.sec-4-bottom-sec {
    height: auto;
}

.sec-4-bottom-sec-left-sec {
    width: 45%;
    height: 100%;
    background-color: var(--white);
    padding: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sec-4-bottom-sec-right-sec {
    width: 45%;
    height: 100%;
    background-color: var(--white);
    padding: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media screen and (max-width: 860px) {
    .sec-4 .sec-4-bottom-sec {
        display: block !important;
        width: 100% !important;
    }

    .sec-4-bottom-sec .sec-4-bottom-sec-left-sec {
        width: 90% !important;
        margin: auto !important;
    }

    .sec-4-bottom-sec .sec-4-bottom-sec-right-sec {
        width: 90% !important;
        margin: 20px auto 0 !important;

    }
}

@media screen and (max-width: 400px) {
    .body .sec-4 {
        padding: 50px 0 !important;
    }

    .sec-4-top-sec .sec-4-top-sec-heading {
        font-size: 30px !important;
    }

    .sec-4-bottom-sec .sec-4-bottom-sec-left-sec,
    .sec-4-bottom-sec-right-sec {
        padding: 20px !important;
    }

    .sec-4-bottom-sec-left-sec .sec-4-bottom-sec-left-sec-heading {
        font-size: 18px !important;
    }

    .sec-4-bottom-sec-right-sec .sec-4-bottom-sec-right-sec-heading {
        font-size: 18px !important;
    }
}

/* Section 5 in Enrich */

.sec-5 {
    height: auto;
    padding: 100px 0;
    background-color: #F0F0F0;
}

.sec-5-left-sec {
    width: 35%;
    height: 100%;
}

.sec-5-right-sec {
    width: 55%;
    height: 100%;
    background-color: var(--white);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 40px;
}

@media screen and (max-width: 1000px) {
    .body .sec-5 {
        display: block !important;
        width: 100% !important;
        text-align: center !important;
    }

    .sec-5 .sec-5-left-sec {
        width: 100% !important;
    }

    .sec-5 .sec-5-right-sec {
        width: 90% !important;
        margin: 20px auto 0 !important;
    }
}

@media screen and (max-width: 580px) {
    .sec-5 .sec-5-right-sec {
        padding: 20px !important;
    }
}

@media screen and (max-width: 520px) {
    .sec-5-right-sec div {
        display: block !important;
        width: 100% !important;
    }

    .sec-5-right-sec div div {
        padding: 0px !important;
    }
}

@media screen and (max-width: 400px) {
    .body .sec-5 {
        padding: 50px 0 !important;
    }

    .sec-5-left-sec .sec-5-left-sec-heading {
        font-size: 25px !important;
    }
}

/* Section 6 in Enrich */

.sec-6 {
    height: auto;
    padding: 100px 0;
    background-color: var(--white);
}

.sec-6-main-contaier {
    width: 60%;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sec-6-main-contaier div {
    height: 60px !important;
}

@media screen and (max-width: 1200px) {
    .sec-6 .sec-6-main-contaier {
        width: 80% !important;
    }
}

@media screen and (max-width: 935px) {
    .sec-6-main-contaier div .select-post {
        margin-right: 10px !important;
    }
}

@media screen and (max-width: 840px) {
    .sec-6 .sec-6-main-contaier {
        display: block !important;
        width: 100%;
        text-align: center;
        padding: 0 !important;
    }

    .sec-6-main-contaier div {
        border: none !important;
        justify-content: center !important;
    }

    .sec-6-main-contaier div p {
        margin-right: 10px !important;
    }

    .sec-6-main-contaier div img {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
}

@media screen and (max-width: 400px) {
    .body .sec-6 {
        padding: 50px 0 !important;
    }

    .sec-6 .sec-6-main-hading {
        font-size: 30px;
    }
}

/* Section 7 in Enrich */

.sec-7 {
    height: auto;
    background-color: #F9F9F9;
}

.sec-7 .sec-7-left-sec {
    width: 35%;
    height: 100%;
}

.sec-7 .sec-7-left-sec img {
    margin-top: 100px;

}

.sec-7 .sec-7-right-sec {
    width: 55%;
    height: 100%;
    padding-top: 100px;
}

.sec-7-right-sec-main-container {
    background-color: var(--white);
    padding: 50px 60px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sec-7-skill {
    color: #B38C5C;
}

@media screen and (max-width: 1190px) {
    .body .sec-7 {
        display: block !important;
        width: 100% !important;
    }

    .sec-7 .sec-7-left-sec {
        display: none !important;
    }

    .sec-7 .sec-7-right-sec {
        width: 90%;
        margin: auto;
        padding-bottom: 100px;
    }
}

@media screen and (max-width: 470px) {
    .sec-7-right-sec .sec-7-right-sec-main-container {
        padding: 30px 20px;
    }
}

@media screen and (max-width: 400px) {
    .sec-7 .sec-7-right-sec {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .sec-7-right-sec .sec-7-right-sec-heading {
        font-size: 25px;
    }
}

/* Section 8 in Enrich */

.sec-8 {
    height: auto;
    padding: 100px 0;
    background-color: var(--white);
}

.sec-8 div div {
    box-shadow: 0 0px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px 50px;
}

@media screen and (max-width: 1080px) {
    .sec-8 div div {
        padding: 20px 30px;
    }
}

@media screen and (max-width: 850px) {
    .sec-8 div div {
        padding: 15px 15px;
    }

    .sec-8 div div img {
        height: 60px;
        width: 60px;
    }
}

@media screen and (max-width: 540px) {
    .sec-8 div {
        display: block !important;
        width: 100% !important;
        text-align: center !important;
    }

    .sec-8 div div {
        width: 50% !important;
        margin: 20px auto 0;
    }
}

@media screen and (max-width: 400px) {
    .body .sec-8 {
        padding: 50px 0 !important;
    }

    .sec-8 .sec-8-main-hading {
        font-size: 30px;
    }
}

/* Section 9 in Enrich */

.sec-9 {
    height: auto;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #F9F9F9;
}

.sec-9-main-container {
    height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: var(--white);
}

.sec-9-main-container .get-in-touch-sec {
    height: 100%;
    width: 60%;
    padding: 40px 30px;
}

.sec-9-form-1-title p {
    width: 48%;
    margin-bottom: 10px;
}

.sec-9-form-1-input {
    margin-bottom: 10px;
}

.sec-9-form-1-input input {
    width: 48%;
    border-radius: 5px;
    border: 2px solid var(--sim-dark-grey);
    padding: 10px;
    outline: none;
}

.sec-9-form-2-input {
    width: 100%;
}

.sec-9-form-2-input p {
    margin-bottom: 10px;
}

.sec-9-form-2-input input,
select {
    margin-bottom: 15px !important;
}

.sec-9-form-2-input input,
select,
textarea {
    width: 100%;
    border-radius: 5px;
    border: 2px solid var(--sim-dark-grey);
    padding: 10px;
    outline: none;
}

.sec-9-form-2-input textarea {
    max-height: 110px;
}

.contact-info-sec {
    height: auto;
    width: 40%;
    background-color: var(--sim-dark-brown);
}

.contact-info-content {
    padding: 30px 20px 10px 30px;
}

@media screen and (max-width: 1100px) {
    .sec-9 .sec-9-main-container {
        display: block !important;
        width: 100% !important;
    }

    .sec-9-main-container .get-in-touch-sec {
        width: 100%;
    }

    .sec-9-main-container .contact-info-sec {
        width: 100%;
    }
}

@media screen and (max-width: 450px) {

    .body .sec-9 {
        padding: 50px 10px !important;
    }

    .get-in-touch-sec .get-in-touch-sec-heading {
        font-size: 30px !important;
        text-align: center !important;
    }

    .get-in-touch-sec .sec-9-form-1-title,
    .sec-9-form-1-title p,
    .sec-9-form-1-input,
    .sec-9-form-1-input input {
        display: none !important;
    }

    .get-in-touch-sec .sec-9-form-2-input .d-none {
        display: block !important;
    }

    .get-in-touch-sec button {
        width: 100% !important;
    }

    .contact-info-content .contact-info-main-heading {
        font-size: 30px !important;
        text-align: center !important;
    }

    .contact-info-sec .contact-info-content {
        padding: 10px;
    }

    .contact-info-content div {
        display: block !important;
        text-align: center;
    }

    .contact-info-content div .ps-3 {
        padding-left: 0 !important;
    }
}