@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", serif !important;
    font-style: normal;
}

:root {
    --sim-dark-brown: #563727;
    --sim-light-brown: #B38C5C;
    --sim-dark-grey: #D9D9D9;
    --sim-light-grey: #B4B4B4;
    --white: white;
    --black: black;
}

/* Color CSS */

.sim-dark-brown-color {
    color: var(--sim-dark-brown);
}

.sim-light-brown-color {
    color: var(--sim-light-brown);
}

.sim-dark-grey-color {
    color: var(--sim-dark-brown);
}

.sim-light-grey-color {
    color: var(--sim-light-brown);
}

.white-color {
    color: var(--white);
}

.black-color {
    color: var(--black);
}

/* Width Related CSS */

.width-1320px {
    width: 1320px;
}

/* Border-Radius Related CSS */

.border-radius-5px {
    border-radius: 5px;
}

.border-radius-30px {
    border-radius: 30px;
}

/* Font-size Related CSS */

.font-size-46px {
    font-size: 46px;
}

.font-size-36px {
    font-size: 36px;
}

.font-size-22px {
    font-size: 22px;
}

/* Font-weight Related CSS */

.font-weight-600 {
    font-weight: 600;
}

.font-weight-400 {
    font-weight: 400;
}

/* Bttton Related CSS */

.button-color-white-bg-color-sim-brown {
    background-color: var(--sim-light-brown);
    color: var(--white);
    border: none;
}

.button-color-sim-brown-bg-color-white {
    background-color: var(--white);
    color: var(--sim-light-brown);
    border: 2px solid var(--sim-light-brown);
}


/* Sec 1 in Enrich */

.sec-1 {
    height: 50px;
    background-color: var(--sim-dark-brown);
    padding: 0 23px;
}

.sec-1-email-id {
    border-left: 2px solid var(--white);
}

@media screen and (max-width: 470px) {
    .body .sec-1 {
        display: block !important;
        width: 100% !important;
        height: auto !important;
        text-align: center !important;
        padding: 10px 0;
    }

    .sec-1 .sec-1-phone-num-email-sec {
        justify-content: center !important;
        padding-top: 10px;
    }
}

@media screen and (max-width: 340px) {
    .sec-1 .sec-1-phone-num-email-sec {
        display: block !important;
        width: 100% !important;
        text-align: center;
    }

    .sec-1-phone-num-email-sec .sec-1-phone-num {
        padding-right: 0px !important;
    }

    .sec-1-phone-num-email-sec .sec-1-email-id {
        padding-left: 0px !important;
        border-left: none;
    }
}